
obj/Debug/net6.0/refint/OurProject2.dll
obj/Debug/net6.0/ref/OurProject2.dll
obj/Debug/net6.0/OurProject2.pdb
obj/Debug/net6.0/OurProject2.dll
obj/Debug/net6.0/OurProject2.csproj.CoreCompileInputs.cache
bin/Debug/net6.0/OurProject2.pdb
bin/Debug/net6.0/OurProject2.dll
bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net6.0/Microsoft.Extensions.Options.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
obj/Debug/net6.0/refint/OurProject2.dll
obj/Debug/net6.0/ref/OurProject2.dll
obj/Debug/net6.0/OurProject2.pdb
obj/Debug/net6.0/OurProject2.dll
obj/Debug/net6.0/OurProject2.csproj.CoreCompileInputs.cache
bin/Debug/net6.0/OurProject2.pdb
bin/Debug/net6.0/OurProject2.dll
bin/Debug/net6.0/OurProject2.dll
obj/Debug/net6.0/refint/OurProject2.dll
obj/Debug/net6.0/ref/OurProject2.dll
obj/Debug/net6.0/OurProject2.pdb
obj/Debug/net6.0/OurProject2.dll
obj/Debug/net6.0/OurProject2.csproj.CoreCompileInputs.cache
bin/Debug/net6.0/OurProject2.pdb
bin/Debug/net6.0/OurProject2.dll
obj/Debug/net6.0/refint/OurProject2.dll
obj/Debug/net6.0/refint/OurProject2.dll
obj/Debug/net6.0/ref/OurProject2.dll
obj/Debug/net6.0/OurProject2.pdb
obj/Debug/net6.0/OurProject2.dll
bin/Debug/net6.0/OurProject2.pdb
bin/Debug/net6.0/OurProject2.dll
*.dll
obj/Debug/net6.0/refint/OurProject2.dll
