@page
@model OurProject2.Pages.MapeModel
@{
}

<div class="text-center">
    <h1 class="display-4">WEBSITE MAP </h1>
    <p><a href="/Intro">Go to the Intro Page</a></p>
    <p><a href="/Map">Go to the WEBSITE MAP Page</a></p>
    <p><a href="/SignUp">Go to the SignUp Page</a></p>
    <p><a href="/LogIn">Go to the LogIn Page</a></p>
    <p><a href="/Test">Go to the Test Page</a></p>
    <p><a href="/ResultsTest">Go to the ResultsTest Page</a></p>

</div>
